* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 컨테이너 내에서 세로 중앙 정렬 */
    align-items: center; /* 컨테이너 내에서 가로 중앙 정렬 */
    height: 90vh; /* 컨테이너의 전체 높이 */
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* 캐릭터 이미지 하단 여백 */
    flex-grow: 0;
}

.character {
    width: 300px; /* 캐릭터 이미지 크기 */
    height: auto;
}

.text-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0; /* "준비 완료!" 텍스트의 상단 마진 */
}

.home-button {
    background-color: #3753FF;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* 버튼의 상단 마진 */
    margin-bottom: 10px; /* 버튼이 컨테이너 하단에 너무 붙지 않도록 하단 마진 */
}

.home-button:hover {
    background-color: #2b44cc;
}

.home-button:active {
    background-color: #1a2b99;
}
